<div class="modal-backdrop">
  <div class="modal-body">
    <header class="modal-title">
      Edit entry
    </header>
    <main class="modal-content">
      <input value={{@model.title}} type="text" {{on "input" (pick "target.value" (set @model "title") value="target.value")}} />
      <textarea value={{@model.description}} />
    </main>
    <footer class="modal-footer">
      <button type="button" {{on "click" (fn @cancel)}}>Cancel</button>
      <button type="button" {{on "click" (fn @delete)}}>Delete</button>
      <button type="button" {{on "click" (fn @save)}}>Save</button>
    </footer>
  </div>

</div>