<li
  class="child-list" 
  id="child-list-{{@model.parent.id}}-{{@model.id}}"
  {{style
    (hash
      left=this.styles.left
      top=this.styles.top
    )
  }}
>
  <button
    id="child-{{@model.id}}"
    class="round-button"
    data-child-count={{@model.children.length}}
    type="button"
    {{did-insert (fn this.connect @model)}}
    {{did-update (fn this.reconnectAll @model) @model.children.length}}
    {{on "click" (fn @open @model)}}
  >
    {{@model.title}}
  </button>
  {{#if @model.children}}
    <ul class="child-list-root">
      {{#each @model.children as |child index|}}
        <ChildList @multiplier={{index}} @model={{child}} @open={{@open}} />
      {{/each}}
    </ul>
  {{/if}}
</li>
{{#if this.showConnector}}
  <NodeConnector
    @model={{@model}}
  />
{{/if}}