<li id="child-list-{{@model.parent.id}}-{{@model.id}}" class="child-list">
  <button
    id="child-{{@model.id}}"
    class="round-button"
    type="button"
    {{did-insert (fn this.connect @model)}}
    {{did-update (fn this.reconnect @model) @model.children.length}}
    {{on "click" (fn @open @model)}}
  >
    {{@model.title}}
  </button>
  <ul class="child-list-root">
    {{#each @model.children as |child|}}
      <ChildList @model={{child}} @open={{@open}} />
    {{/each}}
  </ul>
</li>
{{#if this.showConnector}}
  <NodeConnector
    @model={{@model}}
  />
{{/if}}