{{page-title "Mindmap"}}
<ul>
  {{#each this.rootEntries as |root|}}
    <li>
      <ChildList @model={{root}} @open={{this.open}} />
    </li>
  {{/each}}
</ul>

{{#if this.entryToEdit}}
  <Modal @model={{this.entryToEdit}} @cancel={{this.cancel}} @delete={{this.delete}} @save={{this.save}} />
{{/if}}